<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <% binding.pry %>
  <p>There were <%= pluralize(@user.errors.count, "error") %> problems:</p?

  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up!" %>
<% end %>
